<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3"><h1 class="title">RCC•</h1></div>
            <div class="col-md-3">
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="/"> Home </a></li>
                    <li class="nav-item"> Landing</li>
                    <li class="nav-item"> Register</li>
                    <li class="nav-item"> Profile</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav">
                    <li class="nav-item"> Contact
                        Us
                    </li>
                    <li class="nav-item">
                        About Us
                    </li>
                    <li class="nav-item">
                        Blog
                    </li>
                    <li class="nav-item"> License
                    </li>
                </ul>
            </div>
            <div class="col-md-3"><h3 class="title">Follow us:</h3>
                <div class="btn-wrapper profile">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-dribbble"></i>
                </div>
            </div>
        </div>
    </div>
</footer>
